* {
  margin: 0;
  padding: 0; }

body {
  color: #767676;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  letter-spacing: .5px; }

a {
  text-decoration: none; }

p {
  color: #767676;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  line-height: 30px;
  letter-spacing: .5px;
  font-weight: 400; }
