@media (max-width: 1024px) {
  .BannerWera {
    height: 70vh; }
    .BannerWera .shaneTMhero .content .nameWrap .shaneHEad {
      font-size: 35px; }
  img.aboutimg {
    width: 100%; }
  .AboutWrap .aboutmMainContint {
    padding-left: 0; }
    .AboutWrap .aboutmMainContint .aboutHead {
      max-width: 100%; }
  .skillsWraper .grid-container {
    -ms-grid-columns: auto;
    grid-template-columns: auto; }
    .skillsWraper .grid-container .skillsMainInner .progress-element .mBottom {
      padding-left: 0px; }
  .brandWrap .brand_item {
    margin-left: 33px; }
  .slick-list.draggable {
    margin-left: 0; }
  .LatestNewsWrap .grid-container {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto; }
  .LatsWorkWrap .LetsWork .latsWorkTitle .latsWorkHead {
    font-size: 50px; } }

@media (max-width: 990px) {
  .header .navbar .collapse .navbar-nav .nav-item .NavLink {
    margin-right: 0px; } }

@media (max-width: 576px) {
  .LatsWorkWrap .TopBg {
    top: -7px; }
  .skillsWraper .grid-container .skillsMainInner .progress-element .mBottom {
    margin: 18px 15px; }
  div#bt-ourskill {
    margin: 0 15px; }
  .protfolio .filterMain .filter_manu {
    margin-bottom: 15px; } }

@media (max-width: 420px) {
  .header {
    padding: 10px 25px;
    position: unset; }
  .BannerWera {
    height: 30vh; }
    .BannerWera .background {
      width: 100%; }
      .BannerWera .background .BGimage::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000b0; }
    .BannerWera .shaneTMhero .content .nameWrap .shaneHEad {
      color: #fff; }
      .BannerWera .shaneTMhero .content .nameWrap .shaneHEad span {
        -webkit-text-stroke: 1px #fff; }
    .BannerWera .shaneTMhero .content .jobWrap .jobtitle {
      color: #cfcfcf; }
    .BannerWera .shaneTMhero .content .sociallo .social .ListItem {
      margin-right: 20px; }
      .BannerWera .shaneTMhero .content .sociallo .social .ListItem a .svg {
        color: #c5c5c5; }
  .AboutWrap {
    padding: 60px 0; }
  .protfolio {
    padding: 60px 0; }
    .protfolio .protflioMainWrap {
      margin-bottom: 30px; }
      .protfolio .protflioMainWrap .protfolioTitlewrap .aboutHead {
        margin: 12px 0 35px 0px; }
    .protfolio .filterMain .filter_manu {
      margin-bottom: 0; }
      .protfolio .filterMain .filter_manu .filter_list {
        cursor: pointer;
        margin-right: 5px; }
    .protfolio .filter_item {
      margin: 15px; }
  .skillsWraper {
    padding: 60px 0; }
  .VideoWrap .VideoContaint .content {
    padding: 100px 0; }
  .brandWrap {
    padding: 50px 0 50px !important; }
  .TestimonialeWrap {
    padding: 60px 0; }
  .LatestNewsWrap {
    padding: 60px 0 50px; }
  .LatsWorkWrap {
    padding: 100px 0 100px; }
    .LatsWorkWrap .TopBg {
      top: -10px; }
    .LatsWorkWrap .grid-container {
      -ms-grid-columns: auto;
      grid-template-columns: auto; } }

@media (max-width: 320px) {
  .BannerWera {
    height: 30vh; }
  .protfolio .filterMain .filter_manu {
    display: block; }
  .protfolio .filterMain .filter_manu .filter_list.active {
    margin-bottom: 15px; }
  .footerWrap .footerPrag {
    margin-right: 15px;
    margin-left: 15px; } }
